.map_container {
  display: flex;
  justify-content: center;
  height: 58vh;
  /* background-color: #3A3B3C; */
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

@media only screen and (max-width: 1024px) {
  .map_container {
    width: 100%;
    height: 100%;
  }
}
